@model Computer_Store.DAO.Models.Basket

@{
    ViewBag.Title = "Create";
}

<h2>Создать корзину</h2>

<table class="table">
    <tr>
        <th>
            Имя
        </th>
        <th>
            Отчество
        </th>
        <th>
            Фамилия
        </th>
    </tr>

    @foreach (var item in @ViewData["clientList"] as List<Computer_Store.DAO.Models.Client>)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.patronymic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.surname)
            </td>
            <td>
                <b>
                    @Html.ActionLink("Выбрать", "CreateBasket", new { basketId = item.id })
                </b>
            </td>
        </tr>
    }
</table>

    <div>
        @Html.ActionLink("Вернуться назад", "Index")
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
