
@{
    ViewBag.Title = "Details";
}
<h2>Состав корзины</h2>

<p>
    @Html.ActionLink("Найти товар", "Search", new { basketId = Convert.ToInt32(@ViewData["basketId"]) })
</p>

<div>
    <table class="table">
        <tr>
            <th>
                <h3>Список покупок</h3>
            </th>
            <th>
                <h3>Список заказов</h3>
            </th>
        </tr>
        <tr>
            <td>
                <table class="table">
                    <tr>
                        <th>
                            Название
                        </th>
                        <th>
                            Код товара
                        </th>
                        <th>
                            Категория
                        </th>
                        <th>
                            Производитель
                        </th>
                        <th>
                            Стоимость
                        </th>
                        <th>
                            Статус
                        </th>
                    </tr>
                    @foreach (var item in new Computer_Store.DAO.DAOClasses.ShoppingListDAO().getList(Convert.ToInt32(@ViewData["basketId"])))
                     {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => new Computer_Store.DAO.DAOClasses.ProductDAO().getOne(item.productId).title)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => new Computer_Store.DAO.DAOClasses.ProductDAO().getOne(item.productId).number)
                            </td>
                            <td>
                                @((Computer_Store.DAO.Models.category)new Computer_Store.DAO.DAOClasses.ProductDAO().getOne(item.productId).categoryId)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => new Computer_Store.DAO.DAOClasses.ProductDAO().getOne(item.productId).producer)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => new Computer_Store.DAO.DAOClasses.ProductDAO().getOne(item.productId).price)
                            </td>
                            <td>
                                @((Computer_Store.DAO.Models.statusProduct)item.statusId)
                            </td>
                            <td>
                                @Html.ActionLink("Убрать", "RemoveFromShoppingList", new { basketId = Convert.ToInt32(@ViewData["basketId"]), id = item.id })
                            </td>
                        </tr>
                     }
                </table>
            </td>
            <td>
                <table class="table">
                    <tr>
                        <th>
                            Название
                        </th>
                        <th>
                            Код товара
                        </th>
                        <th>
                            Категория
                        </th>
                        <th>
                            Производитель
                        </th>
                        <th>
                            Стоимость
                        </th>
                        <th>
                            Статус
                        </th>
                    </tr>
                    @foreach (var item in new Computer_Store.DAO.DAOClasses.OrderListDAO().getList(Convert.ToInt32(@ViewData["basketId"])))
{
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => new Computer_Store.DAO.DAOClasses.ProductDAO().getOne(item.productId).title)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => new Computer_Store.DAO.DAOClasses.ProductDAO().getOne(item.productId).number)
                            </td>
                            <td>
                                @((Computer_Store.DAO.Models.category)new Computer_Store.DAO.DAOClasses.ProductDAO().getOne(item.productId).categoryId)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => new Computer_Store.DAO.DAOClasses.ProductDAO().getOne(item.productId).producer)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => new Computer_Store.DAO.DAOClasses.ProductDAO().getOne(item.productId).price)
                            </td>
                            <td>
                                @((Computer_Store.DAO.Models.statusProduct)item.statusId)
                            </td>
                            <td>
                                @Html.ActionLink("Доставлено", "DeliveredProduct", new { productId = item.productId, basketId = Convert.ToInt32(@ViewData["basketId"]) })
                                @Html.ActionLink("Убрать", "RemoveFromOrderList", new { basketId = Convert.ToInt32(@ViewData["basketId"]), id = item.id })
                            </td>

                        </tr>
}
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <b>
                    @Html.ActionLink("Продать", "ToPaidShoppingList", new { basketId = Convert.ToInt32(@ViewData["basketId"]) })
                </b>
            </td>
            <td>
                <b>
                    @Html.ActionLink("Заказать", "ToOrderOrderList", new { basketId = Convert.ToInt32(@ViewData["basketId"]) })
                </b>
                |
                <b>
                    @Html.ActionLink("Перевести", "ToTransportFromOrderToShop", new { basketId = Convert.ToInt32(@ViewData["basketId"]) })
                </b>
            </td>
        </tr>
            
    </table>
</div>
<h3><b> Итого к оплате:  @ViewData["totalPay"] </b></h3>
<p>
    <hr />

    @Html.ActionLink("Вернуться назад", "Index")
</p>
