@model IEnumerable<Computer_Store.DAO.Models.Product>

@{
    ViewBag.Title = "Search";
}

<h2>Поиск товара</h2>

<br />

@Html.ActionLink("Вернуться", "Details/" + Convert.ToInt32(@ViewData["basketId"]), new { basketId = Convert.ToInt32(@ViewData["basketId"]) })
<br />
<hr />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div class="form-group">
            @Html.LabelFor(model => new Computer_Store.DAO.Models.SearchParameters().categorySearch, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => new Computer_Store.DAO.Models.SearchParameters().categorySearch, 
               new SelectList(Enum.GetValues(typeof(Computer_Store.DAO.Models.category))), "Выберите категорию:")
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => new Computer_Store.DAO.Models.SearchParameters().produserSearch, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => new Computer_Store.DAO.Models.SearchParameters().produserSearch, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Найти" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<hr />

<table class="table">
    <tr>
        <th>
            Название
        </th>
        <th>
            Код товара
        </th>
        <th>
            Категория
        </th>
        <th>
            Производитель
        </th>
        <th>
            Стоимость
        </th>
        <th>
            Количество
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.number)
            </td>
            <td>
                @((Computer_Store.DAO.Models.category)item.categoryId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.producer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.amount)
            </td>
            <td>
                <b>
                    @Html.ActionLink("Купить", "AddShoppingList", new { productId = item.id, basketId = Convert.ToInt32(@ViewData["basketId"]) }) |
                    @Html.ActionLink("Заказать", "AddOrderList", new { productId = item.id, basketId = Convert.ToInt32(@ViewData["basketId"]) })
                </b>
            </td>
        </tr>
    }
</table>

